body {
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

main {
  display: flex;
  gap: 10vw;
  justify-content: center;
  flex-wrap: wrap;
}

section {
  width: 500px;
  grid-template-columns: repeat(10, 1fr);
  display: grid;
  flex-wrap: wrap;
}

section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  aspect-ratio: 1/1;
}

.hit {
  background-color: rgb(238, 81, 81);
}

button {
  margin-top: 10px;
  align-self: center;
}

aside {
  outline: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}

.ship {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  width: 500px;
}

.ship > p {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.highlight {
  border-color: green;
  background-color: rgba(0, 255, 0, 0.1);
}


