@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 10px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'open_sansregular', sans-serif;
  background: #195579;
  background: linear-gradient(
    to right,
    #2e6d92,#66432e
  );
  color: rgb(15, 15, 15);
}

.h1-intro {
  text-align: center;
  margin: 0;
  font-size: 8rem;
  color: rgb(236, 119, 9);
}

.h2-intro {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  margin-bottom: 10px;
  font-size: 5rem;
  color: rgb(21, 15, 39);
}

h2 {
  font-size: 4rem;
  color: rgb(236, 119, 9);
}

.intro-wrapper > img {
  width: 60px;
}

.intro-wrapper > div {
  display: flex;
  gap: 20px;
}

.intro-wrapper p {
  font-size: 6rem;
  font-weight: bold;
  color: rgb(172, 17, 17);
  transform: translateX(4px);
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

section {
  width: 500px;
  max-width: 90vw;
  grid-template-columns: repeat(10, 1fr);
  display: grid;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 2px solid black;
  gap: 1px;
}

section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  flex: 1;
  outline: 1px solid black;
  padding: 2px;
}

.hover {
  background-color: rgba(76, 128, 161, 0.4);
}

.miss {
  background-color: rgba(0, 0, 0, 0);
}

.hit {
  background-color: rgba(201, 24, 24, 0.842);
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
}

button {
  margin-top: 10px;
  align-self: center;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  transition: all 10s ease;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 500px;
}

.aside-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside {
  outline: 2px solid black;
  padding: 10px;
  width: 300px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 2px;
}

.ship {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, max(30px, 50px));
}

.reset-btn, .combat-btn {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.highlight {
  background-color: rgba(54, 247, 54, 0.363);
}

.invalid {
  background-color: rgba(233, 22, 22, 0.541);
}

button {
  border: none;
  border-radius: 2px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5;
  padding: 10px;
  border-radius: 5px;
  color: rgb(223, 207, 207);
  background-color: #38225c;
}

button:hover, button:active {
  filter: brightness(120%);
}

button:active {
  transform: scale(0.95);
}

#play-cpu-btn, .replay-btn {
  font-size: 3rem;
  padding: 20px;
}

.combat-btn, #play-cpu-btn, .replay-btn {
  background-color: rgb(153, 42, 42);
}

.combat-btn[disabled] {
  background-color: gray;
}

.combat-btn[disabled]:hover {
  filter: none;
  transform: none;
}

.field {
  cursor: crosshair;
}

